#experimentr {
    margin-top: 5%;
}

body {
    font-family: Verdana, Geneva, sans-serif;
}

#next-button {
    margin-top: 20px;
    float: right;
}

#consent {
    float: right;
}

.option {
    width: 45px;
}

#demographics {
    font-size: 18px;
    text-align: left;
}

#selfTest {
    font-size: 18px;
}

.role-btn {
    margin-top: 5%;
    margin-left: 35%;
    width: 30%;
    height: 60px;
    font-size: 24px;
}

#intr-entry {
    margin-top: 5%;
    text-align: center;
}

#password {
    margin-left: 2%;
}
#sign-in-warning {
    color: red;
    visibility: hidden;
}

/*#researcher {*/

/*}*/

/*#demographics .option {*/
/*    width: 50px;*/
/*    text-align: left;*/
/*}*/