
/** CSS style for index.html */
#experimentr {
    margin-top: 5%;
}

body {
    font-family: Verdana, Geneva, sans-serif;
}

#next-button {
    margin-top: 20px;
    float: right;
}

/** CSS style for entry module */

.role-btn {
    margin-top: 5%;
    margin-left: 35%;
    width: 30%;
    height: 60px;
    font-size: 24px;
}

#intr-entry {
    margin-top: 15%;
    text-align: center;
}

#password {
    margin-left: 2%;
}

#reminder {
    margin-top: 10px;
}
#sign-in-warning {
    color: red;
    visibility: hidden;
}

/** CSS style for consent module */

#consent {
    float: right;
}

.option {
    width: 45px;
}

/** CSS style for demographics module */
#demographics {
    font-size: 18px;
    text-align: left;
    margin-top: 12%;
}

/** CSS style for selfTest module */
#selfTest {
    margin-top: 12%;
    font-size: 18px;
}

/** CSS style for debrief module */
#debrief {
    margin-top: 12%;
}