#experimentr {
    margin-top: 100px;
}

body {
    font-family: Verdana, Geneva, sans-serif;
}

#next-button {
    margin-top: 20px;
    float: right;
}

#consent {
    float: right;
}

.option {
    width: 45px;
}

#demographics {
    font-size: 18px;
    text-align: left;
}

#selfTest {
    font-size: 18px;
}

/*#demographics .option {*/
/*    width: 50px;*/
/*    text-align: left;*/
/*}*/